.main-wrapper{
    margin-top: 50px;
}
.main-title{
    margin-bottom: 20px;
}

.carousel-item img{
  width: 100%;
  height: 70vh;
  border-radius: 13px;
}

.main-wrapper .index-slider{
  width: 70%;
  margin: 0 auto;
}
.wrapper-top
{
  margin: 40px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.wrapper-top .input-group{
  width: 35%;
}

